@{
    ViewData["Title"] = "Chat";
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/5b756dfa76.js" crossorigin="anonymous"></script>
    <style media="all" id="fa-v4-font-face">
    </style>
</head>
<body>

    <div class="chat">
        <div class="sidebar">
            <div class="search">
                <input type="text" placeholder="Ara..">
                <i class="fa fa-search" aria-hidden="true"></i>
            </div>
            <div class="content">
                <div class="message-header">
                    <div class="user-info">
                        <img src="https://pbs.twimg.com/profile_images/1167192037281677312/Stiy9REp_400x400.jpg" alt="">
                        <div class="user">
                            <div class="name">Tayfun Erbilen</div>
                            <div class="time">10 dk önce</div>
                        </div>
                    </div>
                    <div class="actions">
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="message-content">
                    <div class="message me">
                        <div class="bubble">
                            Merhaba tahsin dost, nasıl gidiyor keyifler?
                        </div>
                        <div class="time">1dk önce</div>
                    </div>
                    <div class="message">
                        <div class="bubble">
                            Merhaba tahsin dost, nasıl gidiyor keyifler?
                        </div>
                        <div class="time">1dk önce</div>
                    </div>
                    <div class="message me">
                        <div class="bubble">
                            Merhaba tahsin dost, nasıl gidiyor keyifler?
                        </div>
                        <div class="time">1dk önce</div>
                    </div>
                    <div class="message">
                        <div class="bubble">
                            Merhaba tahsin dost, nasıl gidiyor keyifler?
                        </div>
                        <div class="time">1dk önce</div>
                    </div>
                    <div class="message me">
                        <div class="bubble">
                            Merhaba tahsin dost, nasıl gidiyor keyifler?
                        </div>
                        <div class="time">1dk önce</div>
                    </div>
                    <div class="message">
                        <div class="bubble">
                            Merhaba tahsin dost, nasıl gidiyor keyifler?
                        </div>
                        <div class="time">1dk önce</div>
                    </div>
                    <div class="message me">
                        <div class="bubble">
                            Merhaba tahsin dost, nasıl gidiyor keyifler?
                        </div>
                        <div class="time">1dk önce</div>
                    </div>
                    <div class="message">
                        <div class="bubble">
                            Merhaba tahsin dost, nasıl gidiyor keyifler?
                        </div>
                        <div class="time">1dk önce</div>
                    </div>

                </div>
                <div class="message-form">
                    <ul>
                        <li class="emoji-btn">
                            <a href="#">
                                <i class="fa fa-laugh" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="input">
                            <input type="text" placeholder="Bir şeyler yaz..">
                        </li>
                        <li class="sound-btn">
                            <a href="#">
                                <i class="fa fa-microphone" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="image-btn">
                            <a href="#">
                                <i class="fa fa-image" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>


</body>
</html>