<ul class="navbar-nav">
	@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
	//@if (User.Identity.IsAuthenticated)
	{

		<li class="nav-item">
			<a class="nav-link" href="#">Merhaba @User.Identity.Name</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" asp-area="Admin" asp-controller="Product" asp-action="ProductIndex">Ürünler </a>
		</li>
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Seçenekler
			</a>
		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
			<a class="dropdown-item" href="#">Kategoriler</a>
			<a class="dropdown-item" href="#">Kampanyalar</a>
			<div class="dropdown-divider"></div>
			<a class="dropdown-item" href="#">Kargo Takip</a>
		</div>
		</li>

		<li class="nav-item">
			<a class="nav-link" asp-area="Admin" asp-controller="Yonetici" asp-action="AdminLogout">Çıkış Yap </a>
		</li>
	}
	else
	{
		<li class="nav-item">
			<a class="nav-link" asp-area="Customer" asp-action="Login" asp-controller="Home">Login</a>
		</li>
	}
</ul>